.nav {
  font-size: 1.8em;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #393e46;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;
  background: linear-gradient(135deg, #ffffff, #f7f7f7);
  border-bottom: 1px solid #eee;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
}
